<html ng-app="angularAppGenerator" ng-controller="MainCotroller">
<head>
	<title>Spring Boot Application Generator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<script src="js/script.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Spring Boot Application Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
<br/>
<form role="form">
 <table>
		<tr>
			<td>Application Name:</td>
			<td><input class="form-control" type="text" placeholder="Spring Application" ng-model="fields.applicationName" /></td>
		</tr>
		
		 <tr>
			<td>Base Package Name:</label></td>
			<td><input class="form-control" type="text" placeholder="com.company.spring" ng-model="fields.packageName" /></td>
		</tr>
		
		<tr>
			<td colspan="2">
			<br/><br/>
			<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="padding: 12px;">			
      		<table>
      			<tr>
      			<td>Entity Name: </td>
      			<td><input class="form-control" type="text" placeholder="Employee" ng-model="fields.entity.name" /></td>
      			</tr>
      		</table>
      		<hr>
      		<br/>
      		<div class="row">      	
      		</div>
      		<br/><br/><br/><br/>
      		<table class="table table-striped table-sm">			
					<tr ng-repeat="f in fields.entity.listOfFields">				
						<td><input class="form-control" type="text" placeholder="eg name, age, etc.." ng-model="f.fieldName" style="margin-left: 5px;width: 150px;"/>&nbsp;</td>					
						<td><select class="form-control" ng-model="f.type">				
							<option value="String">String</option>
							<option value="String">Long</option>
							<option value="BigDecimal">BigDecimal</option>
							<option value="boolean">Boolean</option>
							<option value="Integer">Integer</option>
							<option value="Double">Double</option>						
						</select>
						</td>
						<td><a ng-click="deleteField($index)"><i class="fas fa-trash-alt" style="padding-top: 10px;"></i></a></td>				
					</tr>								
			</table>			
      								
      		<button class="btn btn-primary" ng-click="addField(fields.entity.listOfFields)">Add New Field</button>
      		</div>
			</td>
		</tr>
  </table>
  </form>
</div>  	  
  <hr/>
  <div align="center">
  <button id="export" download="" ng-click="createApp(fields);" type="submit" class="btn btn-primary">Generate Project</button>
</body>
</html>