<html ng-app="angularAppGenerator" ng-controller="MainCotroller">
<head>
	<title>Spring Boot Application Generator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">	
	<link rel="stylesheet" href="css/application.css">
	<script src="js/application.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="images/spring_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Spring Boot Application Generator
  </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">      
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="how.html">How It works ?</a>
      </li>      
    </ul>
  
   <span class="navbar-text">
      <a target="_blank" href="https://github.com/anandgajjar2004/SpringBootAppGenerator/">Github</a>&nbsp;|&nbsp;<a target="_blank" href="https://twitter.com/anandgajjar2004/">Twitter</a>
    </span>
</nav>
<div class="container-fluid">
<br/>
<form role="form">
 <table width="35%">
		<tr>
			<td width="30%">Application Name:</td>
			<td><input class="form-control" type="text" placeholder="Spring Application" ng-model="fields.applicationName" /></td>
		</tr>
		
		 <tr>
			<td>Base Package Name:</label></td>
			<td><input class="form-control" type="text" placeholder="com.company.spring" ng-model="fields.packageName" /></td>
		</tr>
		
		<tr>
      			<td>Entity Name: </td>
      			<td><input class="form-control" type="text" placeholder="Employee" ng-model="fields.entity.name" /></td>
      	</tr>		
		
		<tr>
			<td colspan="2">
			<hr>							
      		<table class="table table-bordered">			
					<tr ng-repeat="f in fields.entity.listOfFields">				
						<td><input class="form-control" type="text" placeholder="eg name, age, etc.." ng-model="f.fieldName"/></td>					
						<td width="35%"><select class="form-control" ng-model="f.type">				
							<option value="String">String</option>
							<option value="Long">Long</option>
							<option value="BigDecimal">BigDecimal</option>
							<option value="boolean">Boolean</option>
							<option value="Integer">Integer</option>
							<option value="Double">Double</option>						
						</select>
						</td>
						<td width="10%"><a ng-click="deleteField($index)"><i class="fas fa-trash-alt"></i></a></td>				
					</tr>								
			</table>			
      								
      		<button class="btn btn-outline-success" ng-click="addField(fields.entity.listOfFields)">Add New Field</button>      		
			</td>
		</tr>
  </table>
  </form>
</div>  	  
  <hr/>
  <div align="center">
  <button id="export" download="" ng-click="createApp(fields);" type="submit" class="btn btn-outline-success">Generate Project</button>
</body>
</html>