<html ng-app="angularAppGenerator" ng-controller="MainCotroller">
<head>
	<title>Angular App Generator</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>


<form role="form">

<div class="container-fluid">

<div class="row">
Application Name : <input type="text" placeholder="SpringDemo" ng-model="fields.applicationName" />
Package Name : <input type="text" placeholder="com.company.spring" ng-model="fields.packageName" "/>
<br/><br/>

<div class="col-sm-6 col-md-3" ng-repeat="e in fields.listOfEntities">
    <div class="thumbnail">						
	<input placeholder="Entity Class Name" type="text" name="name" ng-model="e.name" style="margin-top: 8px;margin-left: 5px;"/>
 			<table border="0">			
				<tr ng-repeat="f in e.listOfFields">				
				<td nowrap>
					<br/>
					<input type="text" placeholder="eg name, age, etc.." ng-model="f.fieldName" style="margin-left: 5px;width: 150px;"/>&nbsp;					
					<select  ng-model="f.type">				
						<option value="String">String</option>
						<option value="String">Long</option>
						<option value="String">Boolean</option>
						<option value="String">int</option>
						<option value="String">double</option>						
					</select>
					
					<a ng-click="deleteField(e.fields)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
				</td>
				
				</tr>				
			</table><br/>			
				<a class="btn btn-default" ng-click="addField(e.fields)">Add New Field</a>
	
      
    </div>
  </div>
  </div>
  <a class="btn btn-primary" ng-click="addEntity()">Add Entity Class</a> (eg, Customer, User, Product, etc...)
  <br/><br/>
  <br/><br/><br/><br/>
  <hr/>
  <div align="center">
  <button id="export" download="" ng-click="createApp(fields);" type="submit" class="btn btn-default">Download Zip File</button>
  </div>
</form>
</div>
</div>
<script>

</script>
</body>
</html>